{% if page.comments %}
<div id="disqus_thread"></div>
<script>
var disqus_config=function(){this.page.url="http://honcharuk.me",this.page.identifier="alex-in-digital-world"};!function(){var a=document,b=a.createElement("script");b.src="//alex-in-digital-world.disqus.com/embed.js",b.setAttribute("data-timestamp",+new Date),(a.head||a.body).appendChild(b)}();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}